MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLDATABASE=todo_test
MYSQLUSER=root
MYSQLPASSWORD=root
JWT_SECRET_KEY=YourSuperSecretKeyThatShouldBeAtLeast32CharactersLong!
TEST_BASE_URL=http://localhost:8081
SELENIUM_BROWSER=chrome
SELENIUM_HEADLESS=true
